* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

#root{
  margin: 0 auto;
}
.container {
  padding: 0 1rem;
  max-width: 960px; /* Adjust as needed for your ideal max width */
  margin: 0 auto;  /* Automatic left/right margins for centering */
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 15px; /* Adjust padding for smaller screens */
  cursor: pointer;
  margin-top: 15px;
  margin-right: 10px; /* Reduce margin between buttons */
  margin-bottom: 10px; /* Reduce margin between buttons */
}

.btn:hover {
  background: #4303d6;
}

.todo-list {
  display: flex;  
  flex-direction: column;      /* Enable flexbox for responsive arrangement */
  flex-wrap: wrap;      /* Allow items to wrap to multiple lines */
  justify-content: center; /* Center items horizontally */
  text-align: center; /* Center align the content */
  align-items: center; /* Center items horizontally */
}
.form-container {
  margin-bottom: 20px; /* Add some space below the form container */
}
input{
  margin-right: 20px;
}
h1{
  margin-bottom: 10px;
  text-align: center; /* Center align the content */
  align-items: center; /* Center items horizontally */
}
.title {
  border: 1px solid #ddd;
  margin-bottom: 10px; /* Add some space below the title */
  
}

.form {
  display: inline-block; /* Make the form inline-block so it centers properly */
}
.columns-container {
  display: flex;
  justify-content: space-between; /* Distribute columns evenly */
}

.column {
  width: 45%; /* Adjust this percentage if needed */
}


/* For smaller screens */
@media (max-width: 360) {
  .todo {
    width: calc(100% - 30px); /* Calculate width to account for padding */
  }
}
@media (max-width: 768px) {
  .btn {
    padding: 7px 10px; /* Further reduce padding for smaller screens */
    margin-bottom: 7px; /* Further reduce margin between buttons */
  }
}